Source: upstart-mount-android
Section: system
Priority: standard
Maintainer: Aliaksei Katovich <aliaksei.katovich@gmail.com>
Standards-Version: 1.0.0
Build-Depends: debhelper

Package: upstart-mount-android
Architecture: all
Depends: upstart
Description: mount android system partition
