Source: upstart-usbnet
Section: system
Priority: standard
Maintainer: Aliaksei Katovich <aliaksei.katovich@gmail.com>
Standards-Version: 1.0.0
Build-Depends: debhelper

Package: upstart-usbnet
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: start usb network
